@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: "Open Sans", "Droid Sans Mono", sans-serif;
  font-weight: 400;
  color: #2d3239;
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

@media (min-width: 800px) {
  html {
    font-size: 12px;
  }
}

.video-container,
.video {
  max-width: 100%;
}

p,
li,
span {
  font-size: 1.3rem;
  line-height: 1.5em;
}

pre,
code {
  color: rgb(214, 222, 235);
  overflow: scroll;
  font-size: 1rem;
  background-color: #3a3a3a;
}

code {
  padding: 0.2rem 0.6rem;
}

blockquote {
  font-style: italic;
  border-left: 1rem solid #888888;
  padding-left: 1rem;
  margin-left: inherit;
}

@media (max-width: 800px) {
  main > p,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > span,
  main > small {
    padding: 1rem;
  }
}
